<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{template.html}"
>

<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body style="background-color: whitesmoke">
<div layout:fragment="content">
<!--    <script th:reportDate="${allTests.getReportCreationDate()}">-->
<!--        document.write("<h6>Последнее обновление отчета: " +-->
<!--            dateFormat(document.currentScript.getAttribute('reportDate')) + "</h6>");-->
<!--    </script>-->
    <div class=" panel-block">
        <div>
            <h4>API тесты</h4>
            <br>
            <div th:replace="fragments/main/sowa_automated2 :: sowa_automated2"></div>
            <br><br>
            <div th:replace="fragments/main/sowa_test_run2 :: sowa_test_run2"></div>
        </div>
    </div>

    <div class=" panel-block">
        <div>
            <h4>UI тесты</h4>
            <br>
            <div th:replace="fragments/main/sowa_automated :: sowa_automated"></div>
            <br><br>
            <div th:replace="fragments/main/sowa_test_run :: sowa_test_run"></div>
        </div>
    </div>
</div>
</body>
</html>